@import "tailwindcss";

@theme inline {
  --color-primary: #CDEB69;
  --color-primary-dark: #8AB028;

  --color-surface-dark: #0D0D0D;

  --color-n-1: #EFEFEF;
  --color-n-2: #1A1A1A;
  --color-n-3: #2B2B2B;
  --color-n-4: #B3B3B3;
  --color-n-5: #3f3a52;
  --color-n-6: #252134;
  --color-n-7: #161b22;
  --color-n-8: #0D0D0D;

  --color-text-main: #FFFFFF;
  --color-text-muted: #A1A1AA;
  /* zinc-400 */
  --color-text-dimmed: #71717A;
  /* zinc-500 */

  --color-border-muted: rgba(39, 39, 42, 0.8);
  /* zinc-800/80 */
  --color-border-subtle: rgba(39, 39, 42, 0.4);
  /* zinc-800/40 */

  --color-icon-inactive: #71717A;
  /* zinc-500 */
  --color-icon-hover: #D4D4D8;
  /* zinc-300 */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-n-8 text-n-1 text-base overscroll-none;
    /* font-family: var(--font-inter); */
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color: var(--foreground);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}